*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContainerCharacters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-items: center;
}
.containergeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 10px;
}

.containergeneral h2{
    text-align: center;
    width: 91vw;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}


@media (max-width: 900px) {
    .ContainerCharacters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .ContainerCharacters {
        grid-template-columns: 1fr;
    }
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}